<h2 class="minha_classe"">Minha Calculadora</h2class>

<h4>Valor 1:</h4><input id ="valor1"/> 
<h4>Valor 2:</h4><input id ="valor2"/> 

<h5 class="espacamento"">operação:
	<button onclick="soma()">+</button>
	<button onclick="subtrai()">-</button>
	<button onclick="divide()">/</button>
	<button onclick="multiplica()">*</button> </h5>

<h2>Resultado:</h2><input id=total />